@import 'variable.css';
.services_section{
   display: flex;
   margin-left: 150px ;
   flex-direction: column;

}
.Link{
    text-decoration: none;
}
.Service {
   margin-top: 5rem ;
    font-family: "Roboto", sans-serif;
}
.web_delivery{
   border : 1px solid  rgb(126, 126, 126) ; 
   padding: 3rem;
   border-radius: 5px;

}
.project_title{
    color : #1D2130; 
    font-weight: 500 ;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
}
.data_delivery{
    border : 1px solid  rgb(126, 126, 126) ; 
    padding: 3rem;
    border-radius: 5px;
}
.brand_delivery{
    border : 1px solid  rgb(126, 126, 126) ; 
    padding: 3rem;
    border-radius: 5px;
}
.web_img{
   width:60vh ;
   height:60vh;
   border-radius: 5px;
}
.brand_img{
    width:60vh ;
    height:60vh;
    border-radius: 5px;
}
.analytics_img{
    width:60vh ;
    height:60vh;
    border-radius: 5px;
}
.brand_logo{
    width: 10vh ;
    height:10vh;
}
.web_logo{
    width: 10vh ;
    height:10vh;
}
.data_logo{
    width: 10vh ;
    height:10vh; 
}
.service_delivery{
    display: flex;
    flex-direction: row;
    gap : 5rem ;
   
    align-items: center;
    justify-content: center;
}
.delivery_headline{

width: 30vh ;

text-align: left;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 600; 
    font-size: 20px;
height: 10vh;
}
.servicehead{
    font-size: 40px;
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 7%;
}
.servicedescription {
    width: 70%;
   margin-left: 17rem;
    text-align: left; /* This centers the content inside the element */
}
.desc1{
    color: var(--desc-text-color) ;
}
.desc2{
    color: var(--desc-text-color) ;
}
.bottom_img {
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 187vh;
    height: 50vh;
    border-radius: 1rem ;
}
.ourservices{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 500;
    margin-left: 17rem;
    margin-bottom: 1rem;
}


.bottom_img_over {

  
}
.desc2{
    margin-top: 5%;
}

.web_description{
    color: var(--desc-text-color) ;
}
.brand_description{
    color: var(--desc-text-color) ; 
}
.analytics_description{
    color: var(--desc-text-color) ;
}
.service_dataanalytics{
display: flex ;
align-items:center ;
justify-content: center;
text-align: left ;
margin-left : 20%;
margin-top: 10%;
margin-bottom: 10%;
margin-right : 20%;
gap : 5rem ;

}
.service_brandmanagement{
    display: flex ;
    align-items:center ;
    justify-content: center;
    text-align: left ;
    margin-left : 20%;
    margin-top: 10%;
    margin-right : 20%;
    gap : 5rem ;

}
.service_webdevelopment{
    display: flex ;
align-items:center ;
justify-content: center;
text-align: left ;
margin-left : 20%;
margin-top: 10%;
margin-right : 20%;
gap : 5rem ;
}
.delivering_text{
    font-size: 40px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 5%;
}
.web_delivery_know{
    color: aliceblue;
    border-radius: 5px;
   width: 100px;
    text-align:center;
    cursor: pointer;
    padding: 5% ;
    border: 1px solid white;
background-color: #ffffff;
}
.data_delivery_know{
    color: aliceblue;
    border-radius: 5px;
   width: 100px;
    text-align:center;
    padding: 5% ;
    border: 1px solid white;
background-color: #180E5A;
cursor: pointer;
}
.brand_delivery_know{
    color: aliceblue;
    border-radius: 5px;
   width: 100px;
    text-align:center;
    padding: 5% ;
    cursor: pointer;
    border: 1px solid white;
background-color: #180E5A;
}


.desc_headline{
font-size: 2rem;
color: #1D2130;
font-family: 'Roboto', sans-serif;
font-weight: 600;
margin-bottom: 1rem;
width : 80vh ;
}


.service_tile_and_line {
    width: 700px;
    display: flex;
    margin: 1.5rem;
    margin-left: 190px;
    align-items: center;
}



.section_tile_and_line {
     margin-left: -70px;
    display: flex;
    margin-bottom: 1.5rem;
    align-items: center;
}