.project{
    padding-top: 7em;
    text-align: justify;
    max-width: 60%;
    font-family: "Inter",sans-serif;
    /* justify-content: center; */
    top: 50% !important;
    left: 50% !important;
    transform: translate(34%, 0%)!important;
}

.project-container {
    background-color: #EBF0F9;
    margin-top: 4em;
    margin-bottom: 4em;
}

/* .content-wrapper {
    display: flex;
    align-items: center; 
    text-align: justify;
    max-width: 60%;
}

.text-content {
    margin-left: 20px; 
} */


/* .img6 {
 padding-left: 10em;
 padding-bottom: 3em;
 max-width: 5%;
} */

.img6 {
    max-width: 5%;
   }
   
.content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
    grid-gap: 20px; /* Adjust the gap between items */
    padding-left: 9em;
    padding-right: 9em;

}

.content-block {
    display: flex;
    flex-direction: column;
}


.text-content {
    margin-top: 0px; /* Adjust margin as needed */
    text-align: justify;
    padding-left: 2em;
}




.img4 {
    padding-bottom: 4em;
}




.project_tile_and_line {
    margin-left: -110px;
    display: flex;
    align-items: center;
}
.project_line {
        height: 1px; /* Height of the line */
        background-color: black; /* Color of the line */
        margin-right: 10px; /* Spacing between line and title */
        width: 10% !important; /* Adjust the width as needed */
    }


.cards {
    max-width: 85%; 
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    gap: 20px;
    padding-bottom: 4em;
}

.card-check {
    width: 100%; /* Each card takes up full width of grid cell */
    position: relative;
}

.c1 {
    position: relative;
    width: 100%; /* Each image container takes up full width of card-check */
}

.img7 {
    width: 100%; /* Image fills its container */
    height: auto; /* Maintain aspect ratio */
}
/* 
h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 0;
    text-align: center;
}

c1 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    padding: 40px;
    box-sizing: border-box;
    text-align: justify;
}


.overlay p {
    font-size: 14px;
    padding-bottom: 2em;
}

.overlay h3 {
 text-align: justify;
}

.button1 {
    background-color: #ffffff;
    color: #000000;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}







.image-container {
    position: relative;
    display: inline-block;
}

.overlay-content1 {
    position: absolute;
    top: 30%;
    left: 50%;
    font-family:  "Inter" ,sans-serif;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.overlay-content1 h2 {
    margin-bottom: 20px;
}

.overlay-content1 .buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #180E5A;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.button-white {
    background-color: white;
}

.overlay-content1 .buttons button:hover {
    background-color: #beb456;
}


@media (520px <= width <= 630px) {
    .overlay-content1 h2 {
        font-size: 20px;
    }
}

@media (350px <= width <= 519px) {
    .overlay-content1 h2 {
        font-size: 17px;
    }
}





@media (929px <= width <= 1100px) {
    .overlay p {
        font-size: 12px;
    }
    .overlay h2 {
        font-size: 19px;
    }
}

@media (612px <= width <= 722px){
   
.cards {
    max-width: 85%; /* Max width of cards container */
    margin: 0 auto; /* Center cards container */
    display: grid;
    grid-template-columns: repeat(2,1fr); /* Responsive grid */
    gap: 20px; /* Adjust the gap between cards */
    padding-bottom: 4em;
}

.card-check {
    width: 100%; /* Each card takes up full width of grid cell */
    position: relative;
}

.c1 {
    position: relative;
    width: 100%; /* Each image container takes up full width of card-check */
}

.img7 {
    width: 100%; /* Image fills its container */
    height: auto; /* Maintain aspect ratio */
} 

.overlay p {
    font-size: 12px;
}
.overlay h2 {
    font-size: 19px;
}
}

@media (480px <= width <= 611px){
    .cards {
        max-width: 70%; 
        margin: 0 auto; 
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
        gap: 20px;
        padding-bottom: 4em;
    }
}

@media (590px <= width <= 800px) {
    .content-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding-left: 4em;
        padding-right: 4em;
    }
}

@media (350px <= width <= 589px) {
    .content-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding-left: 2em;
        padding-right: 2em;
    }
    .text-content p {
        font-size: 12px;
    }
    .text-content h3 {
        font-size: 15px;
    }

}